@media only screen and (max-width: 767.98px) {
    .customSideBar {
        width: 7rem!important;
        .item {
            height: 60px;
            padding: 0px!important;
            display: flex!important;
            justify-content: center!important;
            align-items: center!important;
            i.icon, i.icons {
                font-size: 1.8em!important;
            }
        }
    }

}