@import './stylesheets/colors.scss';
@import './stylesheets/media-queries/small-0-to-768/xs.scss';
@import './stylesheets/media-queries/medium-768-to-992/md.scss';
@import './stylesheets/media-queries/large-992-to-1200/lg.scss';

a, p.error, .error {
  color: $orange;
}

.error-container{
  height: 20px;
}

.ui{
  .button.orange {
    background-color: $orange;
  }

  .basic.button.orange {
    color: $orange !important;
    box-shadow: 0px 0px 0px 2px $orange inset !important;
  }

  .toggle.checkbox{
    z-index: 0;
  }
}

.ui.small.floating.message{
  padding-right: 2.5em;
}