$sidebarHeight: 70px;

.ui.sidebar {
  top: $sidebarHeight;
}

.ui.sidebar.menu.vertical.inverted {
  background-color: rgb(89, 89, 89);

  .item {
    padding: 1.5em !important;
    color: rgb(188, 188, 188) !important;

    i {
      float: left !important;
      margin: 0em 0.5em 0em 0.5em !important;
    }
  }

  .item.selected {
    background-color: rgb(51, 51, 51);
    padding: 1.5em !important;
    color: rgb(255, 99, 71) !important;
  }
}

.ui.menu.segment {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}

.pusher.fixed {
  padding-top: 10px;
  padding-left: 220px;
  position: relative;
  top: $sidebarHeight;
}